.sprite-pl-pascal {background-image: url(pl-pascal.png);}
.sprite-pl-pascal-03412ffcb40dc643e70c3a075428a83c {background-position: 0 0; width: 176px; height: 40px;} 
.sprite-pl-pascal-03f016393ac0747a5c9aa55013be77b0 {background-position: 0 -42px; width: 514px; height: 44px;} 
.sprite-pl-pascal-041e080dab515d3327e82c035736653e {background-position: 0 -88px; width: 30px; height: 44px;} 
.sprite-pl-pascal-16e8c08a3ed8a255feb9550788c7b855 {background-position: 0 -134px; width: 77px; height: 37px;} 
.sprite-pl-pascal-1cf82fa0703221156532ebea6d6851de {background-position: 0 -173px; width: 338px; height: 44px;} 
.sprite-pl-pascal-1f2215857c4ebc7df1c42ef416067cd8 {background-position: 0 -219px; width: 114px; height: 44px;} 
.sprite-pl-pascal-2434d3b9fdfac3074771733aa1073445 {background-position: 0 -265px; width: 190px; height: 85px;} 
.sprite-pl-pascal-25bd367fbde11c87cb53b78bec9cceab {background-position: 0 -352px; width: 542px; height: 94px;} 
.sprite-pl-pascal-29d5d2bc3c436ea1620754eb40c2862e {background-position: 0 -448px; width: 30px; height: 44px;} 
.sprite-pl-pascal-2e5b34ae00080e1650780b5e1941adf5 {background-position: 0 -494px; width: 30px; height: 44px;} 
.sprite-pl-pascal-2ea6fd1d377bd4e3b4d1ee87ac8aa521 {background-position: 0 -540px; width: 125px; height: 44px;} 
.sprite-pl-pascal-2f9ccfc56453a1d8afb69b6cf0e7ad42 {background-position: 0 -586px; width: 112px; height: 39px;} 
.sprite-pl-pascal-325d92fb5d44b93d4887635141701f39 {background-position: 0 -627px; width: 385px; height: 44px;} 
.sprite-pl-pascal-375a1425352203d0ee7d92e36496a218 {background-position: 0 -673px; width: 385px; height: 45px;} 
.sprite-pl-pascal-3bdd25298b66a869e33e5cd62a117388 {background-position: 0 -720px; width: 202px; height: 52px;} 
.sprite-pl-pascal-42863cc025621c885848cdb2659fda52 {background-position: 0 -774px; width: 63px; height: 21px;} 
.sprite-pl-pascal-45eb63f1422c6cdb73876f17317c8a94 {background-position: 0 -797px; width: 46px; height: 33px;} 
.sprite-pl-pascal-4804287fee432bcf3460bd56bd7e2e19 {background-position: 0 -832px; width: 122px; height: 44px;} 
.sprite-pl-pascal-4bec4c55463026dc466e853795a75c77 {background-position: 0 -878px; width: 155px; height: 19px;} 
.sprite-pl-pascal-5328703153290da866325811194245e7 {background-position: 0 -899px; width: 30px; height: 44px;} 
.sprite-pl-pascal-54864c9524488854e9c6c5da891b8fcb {background-position: 0 -945px; width: 30px; height: 44px;} 
.sprite-pl-pascal-58bb72d3217ead6c6fec152d16ba0c3c {background-position: 0 -991px; width: 397px; height: 52px;} 
.sprite-pl-pascal-5c46474b4347b2e5dec9eb0aeebb417d {background-position: 0 -1045px; width: 54px; height: 20px;} 
.sprite-pl-pascal-7706f72f6cd02b10b4ac48fea10fee50 {background-position: 0 -1067px; width: 337px; height: 44px;} 
.sprite-pl-pascal-79333e3baaf02600326bd4bc6605d43c {background-position: 0 -1113px; width: 23px; height: 23px;} 
.sprite-pl-pascal-7d64cb0f33f5665db47a1ccc95946f9b {background-position: 0 -1138px; width: 77px; height: 37px;} 
.sprite-pl-pascal-812542eafbf203464f410d910cbe5ccc {background-position: 0 -1177px; width: 30px; height: 44px;} 
.sprite-pl-pascal-8687a9003c9cd92fba991697fd71b684 {background-position: 0 -1223px; width: 167px; height: 40px;} 
.sprite-pl-pascal-8af7d57f4160cc466fe7279b7f2b4a07 {background-position: 0 -1265px; width: 165px; height: 37px;} 
.sprite-pl-pascal-9987402c822fc2c3435445425cd675c5 {background-position: 0 -1304px; width: 30px; height: 44px;} 
.sprite-pl-pascal-9c630d4577fc8f1541397dc77773ef65 {background-position: 0 -1350px; width: 214px; height: 44px;} 
.sprite-pl-pascal-9d80383257547e1e42122046301da2af {background-position: 0 -1396px; width: 428px; height: 44px;} 
.sprite-pl-pascal-a4797d8a9b4cb898e93310f69bcb7483 {background-position: 0 -1442px; width: 336px; height: 52px;} 
.sprite-pl-pascal-a8cb872b3e940c7121a660cbea82082c {background-position: 0 -1496px; width: 114px; height: 39px;} 
.sprite-pl-pascal-a9640c8da31edfc6b0a031db7508d4dd {background-position: 0 -1537px; width: 272px; height: 52px;} 
.sprite-pl-pascal-ace1b10cce226ca79247e174abff092a {background-position: 0 -1591px; width: 253px; height: 50px;} 
.sprite-pl-pascal-bcd962cd95869f433797ad5270b1af8b {background-position: 0 -1643px; width: 277px; height: 39px;} 
.sprite-pl-pascal-c4aa1bff71a21834468844bf2bd8acd5 {background-position: 0 -1684px; width: 113px; height: 44px;} 
.sprite-pl-pascal-c8162c40828420eb358e3f929a319a4e {background-position: 0 -1730px; width: 20px; height: 21px;} 
.sprite-pl-pascal-ca7ec7189576d80b1222cc73def5963c {background-position: 0 -1753px; width: 67px; height: 44px;} 
.sprite-pl-pascal-d341bea34578a7a2a99df5dc115fb9f0 {background-position: 0 -1799px; width: 391px; height: 44px;} 
.sprite-pl-pascal-d99e4acbc2db1cb37cdba4a2c586bbee {background-position: 0 -1845px; width: 65px; height: 44px;} 
.sprite-pl-pascal-de8605f7e22142b1d868268b94e547f9 {background-position: 0 -1891px; width: 296px; height: 94px;} 
.sprite-pl-pascal-de8e99be3b697f1facb3d46c4f02a53c {background-position: 0 -1987px; width: 21px; height: 21px;} 
.sprite-pl-pascal-e1ef980f72096a0479ab608f48a674e0 {background-position: -544px 0; width: 225px; height: 54px;} 
.sprite-pl-pascal-fa0578a876ae19213830b03bc863f97a {background-position: -544px -56px; width: 304px; height: 44px;} 
.sprite-pl-pascal-ff62bc7bf82690545f69fb22d9b04946 {background-position: -544px -102px; width: 128px; height: 44px;} 
