/ps-sdk/www/ps-content/auto
/ps-sdk/*.log
/ps-sdk/error.log
/ps-sdk/www/ps-content/uploads
/ps-sdk/www/nbproject
/ps-sdk/www/ps-content/auto-no-del
/ps-site/www/nbproject
/ps-sdk/www/ps-includes/processes/makeschema/*.log
/ps-sdk/www/ps-includes/processes/makeschema/temp
/ps-sdk/db/ps-sdk/dbexport.log
/ps-sdk/www/ps-addon
/ps-sdk/www/ps-includes/processes/mosaic/*.log
/ps-sdk/www/ps-includes/processes/mosaic/output
/ps-sdk/www/ps-includes/processes/lock/*.log
/ps-sdk/www/ps-includes/processes/prankota/dest
/ps-sdk/www/ps-includes/processes/prankota/*.log
/ps-sdk/www/ps-includes/processes/prankota/*.list
/ps-sdk/www/ps-content/upload
/ps-sdk/www/ps-includes/processes/cron/*.log
/ps-sdk/www/ps-content/images/icons/Thumbs.db
/ps-sdk/www/ps-includes/processes/toolspng/process.log
/ps-sdk/www/ps-includes/processes/toolspng/output
/ps-sdk/www/ps-includes/processes/toolspng/source
/ps-sdk/www/ps-includes/processes/rebus/process.log
