.sprite-dir-resources-sprites-ico {background-image: url(dir-resources-sprites-ico.png);}
.sprite-dir-resources-sprites-ico-calendar {background-position: 0 0; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-calendar_nc {background-position: 0 -26px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-flow {background-position: 0 -52px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-flow_nc {background-position: 0 -78px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-formula {background-position: 0 -104px; width: 21px; height: 21px;} 
.sprite-dir-resources-sprites-ico-formula_nc {background-position: 0 -127px; width: 21px; height: 21px;} 
.sprite-dir-resources-sprites-ico-list {background-position: 0 -150px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-list_nc {background-position: 0 -176px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-maximize {background-position: 0 -202px; width: 14px; height: 14px;} 
.sprite-dir-resources-sprites-ico-maximize_nc {background-position: 0 -218px; width: 14px; height: 14px;} 
.sprite-dir-resources-sprites-ico-minimize {background-position: 0 -234px; width: 14px; height: 14px;} 
.sprite-dir-resources-sprites-ico-minimize_nc {background-position: 0 -250px; width: 14px; height: 14px;} 
.sprite-dir-resources-sprites-ico-mosaic {background-position: 0 -266px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-mosaic_nc {background-position: 0 -292px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-next_s {background-position: 0 -318px; width: 25px; height: 20px;} 
.sprite-dir-resources-sprites-ico-next_s_nc {background-position: 0 -340px; width: 25px; height: 20px;} 
.sprite-dir-resources-sprites-ico-prev_next {background-position: 0 -362px; width: 33px; height: 19px;} 
.sprite-dir-resources-sprites-ico-prev_next_nc {background-position: 0 -383px; width: 33px; height: 19px;} 
.sprite-dir-resources-sprites-ico-prev_s {background-position: 0 -404px; width: 25px; height: 20px;} 
.sprite-dir-resources-sprites-ico-prev_s_nc {background-position: 0 -426px; width: 25px; height: 20px;} 
.sprite-dir-resources-sprites-ico-print {background-position: 0 -448px; width: 23px; height: 20px;} 
.sprite-dir-resources-sprites-ico-print_nc {background-position: 0 -470px; width: 23px; height: 20px;} 
.sprite-dir-resources-sprites-ico-timeline {background-position: 0 -492px; width: 24px; height: 24px;} 
.sprite-dir-resources-sprites-ico-timeline_nc {background-position: 0 -518px; width: 24px; height: 24px;} 
