.sprite-dir-resources-sprites-header {background-image: url(dir-resources-sprites-header.png);}
.sprite-dir-resources-sprites-header-about {background-position: 0 0; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-about_nc {background-position: 0 -82px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-blog {background-position: 0 -164px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-blog_nc {background-position: 0 -246px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-feedback {background-position: 0 -328px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-feedback_nc {background-position: 0 -410px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-magazine {background-position: 0 -492px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-magazine_nc {background-position: 0 -574px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-training {background-position: 0 -656px; width: 80px; height: 80px;} 
.sprite-dir-resources-sprites-header-training_nc {background-position: 0 -738px; width: 80px; height: 80px;} 
