html, body {
    text-align: center;
}

body {
    background-color: #F0F0F0;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

#carrier {
    width: 960px;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
    background: white url("/ps-content/images/background-right.gif") right top repeat-y scroll;
}

h1.head {
    background-color: #368AD2;
    color: #FFFFFF;
    padding: 30px 0px;
    margin: 0px;
    margin-bottom: 30px;
    font-size: 50px;
}

/* Crop */
.container {
    float: left;
    width: 640px;
    text-align: center;
}

#choose-file {
    display: none;
}

.crop-holder {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.crop-holder img {
    padding: 0px;
    margin: 0px;
}

.crop-preview {
    width: 300px;
    height: 300px;
    overflow:hidden;
    float: left;
}

.crop-menu .crop-preview {
    width: 230px;
    height: 230px;
    margin: 5px;
}

.crop-preview-table {
    width: 320px;
    height: 320px;
    float: right;
    border: 1px dashed #ccc;
}

.crop-preview-small {
    width: 50px;
    height: 50px;
    overflow:hidden;
    margin-top: 120px;
    margin-left: 120px;
}

.crop-text {
    padding: 20px;
    margin: 10px;
}


.upload-btn {
    width: 130px;
    height: 25px;
    overflow: hidden;
    position: relative;
    border: 3px solid #06c;
    border-radius: 5px;
    background: #0cf;

}
.upload-btn:hover {
    background: #09f;
}
.upload-btn__txt {
    z-index: 1;
    position: relative;
    color: #fff;
    font-size: 18px;
    font-family: "Helvetica Neue";
    line-height: 24px;
    text-align: center;
    text-shadow: 0 1px 1px #000;
}
.upload-btn input {
    top: -10px;
    right: -40px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 50px;
}


/* Правое меню */
.crop-menu {
    float: right;
    text-align: left;
    width: 240px;
    background-color: #F5F5F5;
    padding: 10px;
}

#PresetFilters {
    clear: both;
}

#PresetFilters a {
    border-radius: 3px;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    background-color: #368ad2;
    display: block;
    float: left;
    text-align: center;
    padding: 4px 5px;
    color: #f8f8f2;
    margin: 5px;
    border: none;
    font-size: 13px;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
}

#PresetFilters a.Active {
    background-color: #e69751;
}



.choose-file-label {
    cursor: pointer;
    background-color: #3BB3E0;
    background-image: -moz-linear-gradient(center bottom , #2CA0CA 0%, #3EB8E5 100%);
    border: 1px solid #186F8F;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #7FD2F1 inset, 0 1px 0 #FFFFFF;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
}
.choose-file-label:hover {
    background-image: -moz-linear-gradient(center bottom , #3EB8E5 0%, #2CA0CA 100%);
    padding: 11px 10px 9px;
    top: 1px;
}